<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Flask Query App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>
    <div class="container">
      <h1>Query Processor</h1>
      <form method="get">
        <label for="user_query">Enter your query:</label><br><br>
        <input type="text" id="user_query" name="user_query"><br><br>
        <input type="submit" value="Submit">
      </form>
      <h3>Output:</h3>
      <p>{{ output }}</p>
    </div>
  </body>
</html>
